{% extends "pages/base.html" %}

{% block title %}
Accueil
{% endblock %}
{% load static %}
{% block content %}
<div class="jumbotron"  class="intro">
    <div class="wrap-image">
        <img src="{% static 'image/tree.png' %}" class="card-img" alt="...">
    </div>
    <div class="wrap-text">     
        <h1 class="name">Le Jardin UHU</h1>
        <p class="lead">Nous fournissons des solutions de culture intercalaire pour vous</p>
    </div>
</div>

<div class="wrap-detail">
    <div class="intro-text">
        <h2>C'est quoi Le Jardin UHU</h2>
        <p>Les agriculteurs ne peuvent pas savoir exactement quelles plantes doivent être plantées ensemble pour obtenir les meilleurs avantages économiques.</p>
        <p>Le Jardin UHU est donc né dans le but de résoudre le problème de l'interculture pour les agriculteurs.</p>
    </div>
    <div class="wrap-advantage">
        <div class="advantage1">
            <img src="{% static 'image/icon1.png' %}">
            <p>Vous aider à cultiver le jardin comme vous le souhaitez</p>
        </div>
        <div class="advantage2">
            <p>Interface conviviale, facile à utiliser</p>
            <img src="{% static 'image/icon2.png' %}">
        </div>
        <div class="advantage3">
            <img src="{% static 'image/icon3.png' %}">
            <p>Protégez l'environnement en faisant un don</p>
        </div>
    </div>
</div>
{% endblock %}