<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!--CSS-->
    {% block css %}{% endblock %}
    {% load static %}
    <link rel="icon" href="{% static 'image/icon.jpg' %}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'my_css/accueil.css' %}" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <!--HEADER-->
    <div class="navbar">
        <div class="wrap-logo">
            <a href="{% url 'accueil' %}">
                <img src="{% static 'image/Layer 0.png' %}" alt="logo" class="logo">
            </a>
            <div class="wrap-slogan">
                <p class="slogan" >Soyez le maître de votre jardin</p>
            </div>
        </div>
        <div class="wrap-fonction">
            <div class="wrap-button">
                <a href="{% url 'fonction1' %}" class="nav-button">Fonction 1</a>
            </div>
            <div class="wrap-button">
                <a href="{% url 'fonction2' %}" class="nav-button">Fonction 2</a>
            </div>
            <div class="wrap-button">
                <a href="{% url 'fonction3' %}" class="nav-button">Fonction 3</a>
            </div>
        </div>
    </div>

    <!--CONTENT-->
    <div class="container-fluid" id="content">
        {% block content %}
   
        {% endblock %}
    </div>

    <!--FOOTER-->
    <div id="footer">
        <i>&copy;2020 par UHU</i>
    </div>
    
    <!--JS-->
    {% block js %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

</html>