body{
    background-color: #E3F2DC;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*HEADER*/
.navbar {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 0px;
}

.wrap-logo {
    display: grid;
    grid-template-columns: 20% 80%;
}

.logo {
    width: 110px;
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: seagreen solid 1px;
    border-radius: 6em;
}

.slogan {
    text-align: left;
    font-weight: bold;
    font-size: 3.1vh;
    color:#F2785C;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 4%;
}

.wrap-fonction {
    display: grid;
    grid-template-columns: 33% 33% 34%;
}

.wrap-button {
    text-align: center;
    text-transform: uppercase;
}

/*Button in navbar*/
@keyframes sheen {
    0% {
        transform: skewY(-45deg) translateX(0);
   }
    100% {
        transform: skewY(-45deg) translateX(12.5em);
   }
}

.nav-button {
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: #00261C;
    border: 2px solid #45BF55;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;;
    font-weight: bold;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.nav-button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}
.nav-button:hover {
    background-color: #044D29;
    color: #fff;
    border-bottom: 4px solid #45BF55;
    text-decoration: none;
}
.nav-button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
}

/*CONTENT*/

.card-header {
    font-size: x-large;
    font-weight: bold;
}

.jumbotron {
    background-color: #A4D996;
    color: #50362b;
    font-family: 'Nunito', sans-serif;
    display: grid;
    grid-template-columns: 50% 50%;
}

.jumbotron img {
    border: 1px solid white;
    border-radius: 10px;
}

.fonctionextra {
    display:none ;
}

.wrap-text {
    margin: auto auto auto 10%;
}

.jumbotron .name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8vh;
}

.jumbotron .lead {
    font-size: 4vh;
    font-weight: bold;
}

.intro-text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5vh;
}

.intro-text h2 {
    font-weight: bold;
}

.wrap-advantage {
    padding-bottom: 30px;
}

.wrap-advantage img {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
}

.wrap-advantage p {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.advantage1 {
    display: grid;
    grid-template-columns: 40% 60%;
}

.advantage1 img {
    margin-left: 75%;
}

.advantage1 p {
    margin: auto 3%;
}

.advantage2 {
    display: grid;
    grid-template-columns: 65% 35%;
}

.advantage2 img {
    
}

.advantage2 p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 60%;
}

.advantage3 {
    display: grid;
    grid-template-columns: 40% 60%;
}

.advantage3 img {
    margin-left: 75%;
}

.advantage3 p {
    margin: auto 3%;
}

/*FOOTER*/
#footer{
    color: #274001;
    text-align: center;
    height: 30px;
    font-size: small;
    background-color: #F2F2F2;
}
/* Color Theme Swatches in Hex 
.The-Red-House-Comic-1-hex { color: #A4D996; }
.The-Red-House-Comic-2-hex { color: #ADD9A0; }
.The-Red-House-Comic-3-hex { color: #E3F2DC; }
.The-Red-House-Comic-4-hex { color: #F2785C; }
.The-Red-House-Comic-5-hex { color: #F2F2F2; }
*/

@media screen and (max-width: 1100px)
{
    .jumbotron {
        padding: 1rem 1rem;
    }   
    #fonction{
        display:none ;
    }
    .fonctionextra{
        display:inline;
    }
    
}
