body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#nomterre{
    font-weight: bold;
}
#search{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
