.wrap-form {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    width: 350px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: auto auto;
}

.wrap-number p{
    text-align: center;
    font-size: 25px;
}

.input-text {
    width:100%;
    background-color: #D5E5E0;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 25px;
}

.wrap-detail {
    padding-top: 30px;
}

.wrap-detail p {
    margin-bottom: 0;
}

.title p {
    text-align: center;
    font-size: 25px;
}

.payment {
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
}

#country {
    height: 50px;
    margin-bottom: 20px;
    background-color: #D5E5E0;
    font-weight: bold;
}

.btn-confirm input {
    display: block;
    margin: auto auto;
}

.message textarea {
    height: 100px;
    width:100%;
    background-color: #D5E5E0;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 25px;
}