body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#nomterre{
    font-weight: bold;
}

#search{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrap-item {
    width: 10%;
    float: left;
}

#wrap-checkbox {
    border: 1px solid black;
    background-color: blanchedalmond;
    border-radius: 30px;
    padding: 1% 3%;
}

.wrap-function-button {
    padding-top: 1%;
    text-align: center;
}

