{% extends "pages/base.html" %}

{% block title %}
Fonction 2 result
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'my_css/result1.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="box">
        <div class="title">Votre Jardin</div>
        <div class="wrap-tree">
            <div class="tree">
                {% for key, value in list_tree.items %}
                <p>Nombre d'arbres {{ key }}: {{ value }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="price">
            <p>Prix total: {{ cost }} VND</p>
        </div>         
       
    </div>
</div>


{% endblock %}